############################# Filebeat ######################################
filebeat:
  prospectors:
    -
      paths:
        - /var/log/auth.log
        - /var/log/syslog
#       - /var/log/*.log
      input_type: log
      document_type: syslog
  registry_file: /var/lib/filebeat/registry
###############################################################################
############################# Libbeat Config ##################################
# Base config file used by all other beats for using libbeat features

############################# Output ##########################################

# Configure what outputs to use when sending the data collected by the beat.
# Multiple outputs may be used.
output:

  ### Elasticsearch as output
  elasticsearch:
    hosts: ["localhost:9200"]

  ### Logstash as output
  logstash:
    # The Logstash hosts
    hosts: ["{{ logstash_host }}:5044"]
    bulk_max_size: 1024
    tls:
      # List of root certificates for HTTPS server verifications
      certificate_authorities: ["/etc/pki/tls/certs/logstash-forwarder.crt"]


############################# Shipper #########################################
shipper:

############################# Logging #########################################
logging:
  files:
