<html>
<head>
<title>Served by NGINX!</title>
<style>
    body {
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
</style>
</head>
<body>
<h1>Served by NGINX!</h1> 
<h1>On {{ ansible_hostname }}</h1> 
<h1>At {{ ansible_eth1.ipv4.address }}</h1>
</body>
</html>