server {
    listen {{ nginx_default_port }} default_server;

    server_name localhost;

    auth_basic "Restricted Access";
    auth_basic_user_file {{ htpasswd_file_location }};

    location / {
        proxy_pass http://localhost:5601;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;        
    }
}
